<div class="row">
  <div class="col text-center">
    <img src="https://blog.hubspot.com/hs-fs/hubfs/tinsanity-404-page.gif?width=743&name=tinsanity-404-page.gif">

    <h1 class='mt-5'>Whoops.  Something went wrong.</h1>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>